atg/ais/docs/ais_7/ATGInformationServiceDO/RaceDayCalendar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Henrik Persson (AB Trav och Galopp) -->
<xs:schema targetNamespace="http:\\www.atg.calendar" xmlns:com="http:\\www.atg.common"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http:\\www.atg.calendar"
    elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http:\\www.atg.common" schemaLocation="Common.xsd"/>
    <xs:complexType name="BetType">
        <xs:annotation>
            <xs:documentation>The type of bet</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="com:CodeText" nillable="false">
                <xs:annotation>
                    <xs:documentation>Name of the bettype
Possible values (code/text/english text):
DD/Dagens Dubbel/
K/Komb/                                              
LD/Lunch Dubbel/                                      
LK/Lördagskomb/                                       
P/Plats/                                             
SK/Specialkomb/                                       
SOK/Söndagskomb/                                       
T/Trio/                                              
TV/Tvilling/                                          
V/Vinnare/
V3/V3/                                                
V4/V4/                                                
V5/V5/                                                
V64/V64/                                               
V65/V65/                                               
V75/V75/                                               
V86/V86/</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="national" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation>Is the type a national bet</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hasResult" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Does the bet have any result</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="races" type="xs:int" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Race numbers</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RaceDayCalendar">
        <xs:annotation>
            <xs:documentation>Calendar caontaining all the racedays available under a certain period</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="fromDate" type="com:AtgDate">
                <xs:annotation>
                    <xs:documentation>Startdate in the calendar</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="toDate" type="com:AtgDate">
                <xs:annotation>
                    <xs:documentation>Enddate in the calendar</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="raceDayInfos" type="RaceDayInfo" nillable="false" minOccurs="0"
                maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>All the racedays in the period</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RaceDayInfo">
        <xs:annotation>
            <xs:documentation>RaceDayCalendar holds information regarding race days for today and +/- 6 days. Only race  days that have the race card available is bundled.
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="raceDayDate" type="com:AtgDate" nillable="false">
                <xs:annotation>
                    <xs:documentation>Date of the raceday</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="trackKey" type="com:TrackKey">
                <xs:annotation>
                    <xs:documentation>The track identifier for the race day.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="track" type="com:CodeText">
                <xs:annotation>
                    <xs:documentation>Name of the track.
Possible values Galop (code/text):
Arg/Argentine
At/ATG
Au/Austria
Aus/Australien
B/Belgium
Bl/Blommeröd
Bp/BelmontPark
Br/Brazil
Ca/Canada
Ch/Switzerland
Chi/Chile
Cs/CzechRepublic
D/Germany
Dd/EastGermany
Dk/Denmark
Du/UnitedArabEmirates
F/France
Gb/GreatBritain
Gg/GöteborgGalopp
Gr/Greece
H/Hungary
Hk/HongKong
I/Italy
Iq/Iraq
Ir/Ireland
Jp/Japan
Jä/JägersroGalopp
Kl/Klampenborg
Lon/Longchamp
Ltu/Litauen
Mo/Marocko
Nl/Netherlands
No/Norway
Pl/Poland
Qa/Qatar
Sg/SGC
Si/Singapore
Sl/Slovenia
So/Slovakia
Sp/Spain
Srb/Serbien
St/Strömsholm
Su/Russia
Tu/Turkey
Tä/TäbyGalopp
Us/UnitedStates
Za/SOUTHAFRICA
Åb/ÅbyGalopp
Öv/Övrevoll

Possible values Trot (code/text/english text):
Aa/Århus
Ae/FörenadeArabem.
Ag/V75
Ar/Arvika
Au/Australien
Ax/Axevalla
B/Bergsåker
Be/Belgien
Bi/Billund
Bj/Bjerke
Bk/Berlin-Karlshorst
Bl/Bologna
Bm/Bornholm
Bn/Berlin
Bo/Boden
Bs/Bollnäs
Bt/Bergen
Ca/Canada
Ce/Cesena
Ch/Charlottenlund
Cm/CagnessurMer
Cs/Serbien/Monten.
Cz/Tjeckien
D/Dannero
Dj/DalaJärna
Dk/Danmark
Dl/Dinslaken
Dr/Drammen
Du/Duindigt
E/Eskilstuna
Ee/Estland
En/Enghien
F/Färjestad
Fi/Finland
Fl/Florens
Fo/Forssa
Fr/Frankrike
Fs/Forus
G/Gävle
Gb/England
Ge/Gelsenkirchen
Gt/GöteborgTrav
H/Hagmyren
Ha/Harstad
Hb/Hamburg-Bahrenfeld
Hd/Halmstad
Hf/Hagfors
Hg/Hoting
Hi/Hilversum
Hr/Kroatien
Ht/Haugaland
I/Italien
J/Jägersro
Ja/Jarlsberg
Ju/Junsele
Jy/Jyväskylä
Ka/Kaustinen
Kh/Karlshamn
Kl/Klosterskogen
Ko/Kouvola
Kr/Kalmar
Ku/Kuopio
L/Lindesberg
La/Lahti
Le/Leangen
Lt/Litauen
Ly/Lycksele
Ma/Mariehamn
Me/Meadowlands
Mg/Mönchen-Gladbach
Mi/Milano
Mk/Mikkeli
Mo/Momarken
Mp/Mantorp
Mt/Malta
Mu/München
N/Norge
Ne/Neapel
Nl/Nederländerna
Ny/Nyköbing
Nz/NyaZeeland
Od/Odense
Op/Opland-Biri
Ov/Oviken
Pp/PompanoPark
Re/Recklinghausen
Rm/Rom
Ro/Romme
Rr/Roosevelt
Rs/Serbien
Rv/Rovaniemi
Ry/Ryssland
Rä/Rättvik
S/Solvalla
Sb/Skovbo
Sc/STC
Se/Skive
Si/Seinäjoki
Sk/Skellefteå
Sp/Spanien
St/Sterrebeek
Sz/Schweiz
Sä/Solänget
Sö/Sörlandet
Ta/Tammerfors
Ti/Tingsryd
To/Torneå
Tt/TäbyTrav
Tu/Turin
Ty/Tyskland
U/Umeå
Ul/Uleåborg
Un/Ungern
Us/USA
V/Vincennes
Va/Vasa
Vd/Vemdalen
Ve/Vermo
Vg/Vaggeryd
Vi/Visby
W/Wien
Wo/Wolvega
Xe/Extra
Yl/Ylivieska
Yo/Slovenien
Yr/Yonkers
Å/Åby
Ål/Ålborg
Åm/Åmål
Åo/Åbo
År/Årjäng
Åt/ÅreIstrav
Ö/Örebro
Öe/Österrike
Ös/Östersund</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="betTypes" type="BetType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The bettypes valid on the raceday</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="raceInfos" type="RaceInfo" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Information regarding the races on the race day.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="raceCardsAvailable" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation>If startinghorses are official.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="international" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation>TRUE if the races are not held in Sweden. FALSE if the races are held in Sweden.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="firstRacePostTime" type="com:AtgDateTime">
                <xs:annotation>
                    <xs:documentation>The swedish time when the first race is set out to start. This is a pre scheduled time which normally does not change.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="firstRacePostTimeUTC" type="com:AtgDateTime">
                <xs:annotation>
                    <xs:documentation>The UTC time when the first race is set out to start. This is a pre scheduled time which normally does not change.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="isTrot" type="xs:boolean" nillable="false">
                <xs:annotation>
                    <xs:documentation>TRUE if this is a harness racing day. FALSE if the race day consists of thorough bread races, (galop).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="meetingNumber" type="xs:int">
                <xs:annotation>
                    <xs:documentation>The meeting number for the track the current year. The first race day of the year gets the meeting number 1. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="country" type="com:CodeText">
                <xs:annotation>
                    <xs:documentation>Country in which this meeting is held.
Possible values Galop (code/text):
UAE/FÖRENADEARABEMIRATEN/UNITEDARABEMIRATES
ARG/ARGENTINA/ARGENTINE
AUT/ÖSTERRIKE/AUSTRIA
AUS/AUSTRALIEN/AUSTRALIA
AD/AD/AD
BEL/BELGIEN/BELGIUM
BUL/BULGARIEN/BULGARIA
BRZ/BRASILIEN/BRAZIL
CAN/CANADA/CANADA
SWI/SCHWEIZ/SWITZERLAND
CHI/CHILE/CHILE
CN/KINA/CHINA
COL/COLOMBIA/COLOMBIA
CR/COSTARICA/COSTARICA
CS/SERBIEN/MONTENEGRO/SERBIA/MONTENEGRO
CUB/KUBA/CUBA
CYP/CYPERN/CYPRUS
CZE/TJECKIEN/CZECHREPUBLIC
GER/TYSKLAND/GERMANY
DEN/DANMARK/DENMARK
ALG/ALGERIET/ALGERIA
EE/ESTLAND/ESTONIA
EGY/EGYPTEN/EGYPT
SPA/SPANIEN/SPAIN
FI/FINLAND/FINLAND
FR/FRANKRIKE/FRANCE
GB/STORBRITANNIEN/GREATBRITAIN
GI/GIBRALTAR/GIBRALTAR
GR/GREKLAND/GREECE
HK/HONGKONG/HONGKONG
HRV/KROATIEN/KROATIA
HUN/UNGERN/HUNGARY
NDO/INDONESIEN/INDONESIA
IRE/IRLAND/IRELAND
ISR/ISRAEL/ISRAEL
IND/INDIEN/INDIA
IQ/IRAK/IRAQ
IRA/IRAN/IRAN
IS/ISLAND/ICELAND
ITY/ITALIEN/ITALY
JPN/JAPAN/JAPAN
KEN/KENYA/KENYA
KWT/KUWAIT/KUWAIT
FL/LIECHTENSTEIN/LIECHTENSTEIN
CEY/SRILANKA/SRILANKA
LTU/LITAUEN/LITHUANIA
LUX/LUXEMBURG/LUXEMBOURG
LVA/LETTLAND/LATVIA
LIB/LIBYEN/LIBYA
MOR/MAROCKO/MAROCCO
MC/MONACO/MONACO
ME/MONTENEGRO/MONTENEGRO
MTA/MALTA/MALTA
MEX/MEXIKO/MEXICO
MAL/MALAYSIA/MALAYSIA
HOL/NEDERLÄNDERNA/NETHERLANDS
NOR/NORGE/NORWAY
NZ/NYAZEELAND/NEWZEALAND
OM/OMAN/OMAN
OV/ÖVRIG/OTHER
PAN/PANAMA/PANAMA
PER/PERU/PERU
PHI/FILIPPINERNA/PHILIPPINES
PAK/PAKISTAN/PAKISTAN
POL/POLEN/POLAND
POR/PORTUGAL/PORTUGAL
QA/QATAR/QATAR
RUM/RUMÄNIEN/ROMANIA
RS/SERBIEN/SERBIA
RUS/RYSSLAND/RUSSIA
KSA/SAUDI-ARABIEN/SAUDIARABIA
SK/SKANDINAVISK/SCANDINAVIA
SUD/SUDAN/SUDAN
SWE/SVERIGE/SWEDEN
SG/SINGAPORE/SINGAPORE
SVN/SLOVENIEN/SLOVENIA
SLO/SLOVAKIEN/SLOVAKIA
SEN/SENEGAL/SENEGAL
THA/THAILAND/THAILAND
TUN/TUNISIEN/TUNISIA
TUR/TURKIET/TURKEY
TRI/TRINIDADOCHTOBAGO/TRINIDADANDTOBAGO
TWN/TAIWAN/TAIWAN
UKR/UKRAINA/UKRAINE
USA/USA/UNITEDSTATES
URU/URUGUAY/URUGUAY
VEN/VENEZUELA/VENEZUELA
VGB/JUNGFRUÖARNA,BRITT/VIRGINISLANDS(BRIT)
XEU/EU/EU
XU/UTLANDET/FOREIGNCOUNTRY
YUG/JUGOSLAVIEN/YUGOSLAVIA
SAF/SYDAFRIKA/SOUTHAFRICA
SRH/ZAMBIA/ZAMBIA
ZW/ZIMBABWE/ZIMBABWE
ZZ/OKÄNTLAND/UNKNOWNCOUNTRY
SEA/TILLSJÖSS/ATSEA
ÅL/ÅLAND/ALAND

Possible values Trot (code/text):
AE/FÖRENADEARABEMIRATEN/UNITEDARABEMIRATES
AR/ARGENTINA/ARGENTINE
AT/ÖSTERRIKE/AUSTRIA
AU/AUSTRALIEN/AUSTRALIA
AD/AD/AD
BE/BELGIEN/BELGIUM
BG/BULGARIEN/BULGARIA
BR/BRASILIEN/BRAZIL
CA/CANADA/CANADA
CH/SCHWEIZ/SWITZERLAND
CL/CHILE/CHILE
CN/KINA/CHINA
CO/COLOMBIA/COLOMBIA
CR/COSTARICA/COSTARICA
CS/SERBIEN/MONTENEGRO/SERBIA/MONTENEGRO
CU/KUBA/CUBA
CY/CYPERN/CYPRUS
CZ/TJECKIEN/CZECHREPUBLIC
DE/TYSKLAND/GERMANY
DK/DANMARK/DENMARK
DZ/ALGERIET/ALGERIA
EE/ESTLAND/ESTONIA
EG/EGYPTEN/EGYPT
ES/SPANIEN/SPAIN
FI/FINLAND/FINLAND
FR/FRANKRIKE/FRANCE
GB/STORBRITANNIEN/GREATBRITAIN
GI/GIBRALTAR/GIBRALTAR
GR/GREKLAND/GREECE
HK/HONGKONG/HONGKONG
HR/KROATIEN/KROATIA
HU/UNGERN/HUNGARY
ID/INDONESIEN/INDONESIA
IE/IRLAND/IRELAND
IL/ISRAEL/ISRAEL
IN/INDIEN/INDIA
IQ/IRAK/IRAQ
IR/IRAN/IRAN
IS/ISLAND/ICELAND
IT/ITALIEN/ITALY
JP/JAPAN/JAPAN
KE/KENYA/KENYA
KW/KUWAIT/KUWAIT
LI/LIECHTENSTEIN/LIECHTENSTEIN
LK/SRILANKA/SRILANKA
LT/LITAUEN/LITHUANIA
LU/LUXEMBURG/LUXEMBOURG
LV/LETTLAND/LATVIA
LY/LIBYEN/LIBYA
MA/MAROCKO/MAROCCO
MC/MONACO/MONACO
ME/MONTENEGRO/MONTENEGRO
MT/MALTA/MALTA
MX/MEXIKO/MEXICO
MY/MALAYSIA/MALAYSIA
NL/NEDERLÄNDERNA/NETHERLANDS
NO/NORGE/NORWAY
NZ/NYAZEELAND/NEWZEALAND
OM/OMAN/OMAN
OV/ÖVRIG/OTHER
PA/PANAMA/PANAMA
PE/PERU/PERU
PH/FILIPPINERNA/PHILIPPINES
PK/PAKISTAN/PAKISTAN
PL/POLEN/POLAND
PT/PORTUGAL/PORTUGAL
QA/QATAR/QATAR
RO/RUMÄNIEN/ROMANIA
RS/SERBIEN/SERBIA
RU/RYSSLAND/RUSSIA
SA/SAUDI-ARABIEN/SAUDIARABIA
SKA/SKANDINAVISK/SCANDINAVIA
SD/SUDAN/SUDAN
S/SVERIGE/SWEDEN
SG/SINGAPORE/SINGAPORE
SI/SLOVENIEN/SLOVENIA
SK/SLOVAKIEN/SLOVAKIA
SN/SENEGAL/SENEGAL
TH/THAILAND/THAILAND
TN/TUNISIEN/TUNISIA
TR/TURKIET/TURKEY
TT/TRINIDADOCHTOBAGO/TRINIDADANDTOBAGO
TW/TAIWAN/TAIWAN
UA/UKRAINA/UKRAINE
US/USA/UNITEDSTATES
UY/URUGUAY/URUGUAY
VE/VENEZUELA/VENEZUELA
VG/JUNGFRUÖARNA,BRITT/VIRGINISLANDS(BRIT)
XEU/EU/EU
XU/UTLANDET/FOREIGNCOUNTRY
YU/JUGOSLAVIEN/YUGOSLAVIA
ZA/SYDAFRIKA/SOUTHAFRICA
ZM/ZAMBIA/ZAMBIA
ZW/ZIMBABWE/ZIMBABWE
ZZ/OKÄNTLAND/UNKNOWNCOUNTRY
SEA/TILLSJÖSS/ATSEA
ÅL/ÅLAND/ALAND</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="itspEventCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The event code used in the ITSP protocol for this meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="meetingType" type="com:CodeText">
                <xs:annotation>
                    <xs:documentation>The type of meeting. For example Primary or Parallel.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RaceInfo">
        <xs:annotation>
            <xs:documentation>Raceinfo</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="raceNr" type="xs:int" nillable="false">
                <xs:annotation>
                    <xs:documentation>Number of the race</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="betTypeCodes" type="xs:string" nillable="false" minOccurs="0"
                maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Codes for all bet types that this race is valid for.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="raceType" type="com:CodeText" nillable="false">
                <xs:annotation>
                    <xs:documentation>Type of race (regular race etc).
Possible values Galop (code/text/english text):
K/Kvallopp
R/Rikstoto(DD,SK,Trio)
V/Vanligalopp

Possible values Trot (code/text/english text):
B/Rikstotolopp(V75)
E/Reservlopp
F/Final
H/Heatlopp
K/Kvallopp
P/Premielopp
R/Rikslopp(utanförV75)
T/Tröstfinal
V/Vanligtlopp
X/B-lopp</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hasResult" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Has results arrived in the race</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postTime" type="com:AtgTime">
                <xs:annotation>
                    <xs:documentation>The local time when the race is set out to start. This is a pre scheduled time which normally does not change.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postTimeUTC" type="com:AtgTime">
                <xs:annotation>
                    <xs:documentation>The UTC time when the race is set out to start. This is a pre scheduled time which normally does not change.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
