atg/ais/docs/ais_8/ATGInformationServiceDO/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Henrik Perssonn (AB Trav och Galopp) -->
<xs:schema targetNamespace="http:\\www.atg.common" xmlns="http:\\www.atg.common"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>A boolean indicating if the pool is open for betting. This flag is normally true up until the start of the race. When the race is started it becomes false. If however the race is stopped due to some error in the starting procedure the pool can be opened again. The flag is then set to true up until the race starts.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="Amount">
		<xs:annotation>
			<xs:documentation>Contains info of a value and what currency it is.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sum" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>The sum in a certain currency</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="currency" type="xs:string">
				<xs:annotation>
					<xs:documentation>The currency</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AtgDate">
		<xs:annotation>
			<xs:documentation>AtgDate contains info about a date</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="year" type="xs:int" nillable="false">
				<xs:annotation>
					<xs:documentation>Year</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="month" type="xs:int" nillable="false">
				<xs:annotation>
					<xs:documentation>Month</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="day" type="xs:int" nillable="false">
				<xs:annotation>
					<xs:documentation>Day</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AtgDateTime">
		<xs:annotation>
			<xs:documentation>AtgDateTime contains info about date and time</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="date" type="AtgDate">
				<xs:annotation>
					<xs:documentation>The dateobject</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="AtgTime">
				<xs:annotation>
					<xs:documentation>The timeobject</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AtgTime">
		<xs:annotation>
			<xs:documentation>AtgTime contains info about time</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hour">
				<xs:annotation>
					<xs:documentation>Hour</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minute">
				<xs:annotation>
					<xs:documentation>Minute</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="second">
				<xs:annotation>
					<xs:documentation>Second</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tenth">
				<xs:annotation>
					<xs:documentation>Tenth</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodeText">
		<xs:annotation>
			<xs:documentation>CodeText contains Text in 3 diffrent ways: as a code, as domestic text and as an english text</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>The Code for the text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="domesticText" type="xs:string">
				<xs:annotation>
					<xs:documentation>The text</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="englishText" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The english text</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinalKombOdds">
		<xs:annotation>
			<xs:documentation>The final odds this combination of horses gives</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startNr1" type="xs:int">
				<xs:annotation>
					<xs:documentation>Start number 1 in the combination</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startNr2" type="xs:int">
				<xs:annotation>
					<xs:documentation>Start number 2 in the combination</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="finalOdds" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>The final odds this combination gives </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Odds">
		<xs:annotation>
			<xs:documentation>Odds contains information about odds and scratchings.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="odds" type="xs:int" nillable="false">
				<xs:annotation>
					<xs:documentation>The odds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scratched" type="xs:boolean" nillable="false">
				<xs:annotation>
					<xs:documentation>Is the horse scratched or not</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Stable">
		<xs:annotation>
			<xs:documentation>Holds denotation of a stable and pool positions that are coupled.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="enumeration" nillable="false">
				<xs:annotation>
					<xs:documentation>Designation for these coupled starters.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="startNrArr" type="xs:int" nillable="false" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Pool positions that are coupled.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PoolInfo">
		<xs:annotation>
			<xs:documentation>PoolInfo has info that is common for all its subclasses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="timestamp" type="AtgDateTime">
				<xs:annotation>
					<xs:documentation>The timestamp with both date and time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="turnover" type="Amount">
				<xs:annotation>
					<xs:documentation>The current turnover</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="AtgDate">
				<xs:annotation>
					<xs:documentation>The date for the raceday.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="track" type="CodeText">
				<xs:annotation>
					<xs:documentation>The name of the track.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trackKey" type="TrackKey">
				<xs:annotation>
					<xs:documentation>Bettingsystem id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="poolClosed" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>A boolean indicating if the pool has been closed.
When this flag is set to true the pool can not be reopened.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="saleOpen" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>A flag indicating if the pool is open for betting.
The flag is true until the race starts when it becomes false.
If however the race needs to be restarted due to some error in the starting procedure the flag will be set to true again.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayOut">
		<xs:annotation>
			<xs:documentation>PayOut contains information of a payout for an specifc nr of correct horses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nrOfCorrects" type="xs:int">
				<xs:annotation>
					<xs:documentation>Number of corrects for this payout.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nrOfSystems" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Number of systems with this nr of correct horses.  Null if no result exists.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="payOutAmount" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>The amount that this number of corrects pays.  Null if no result exists.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalAmount" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Holds information of the total amount that is to be shared by those with a specific number of correct horses.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrackKey">
		<xs:annotation>
			<xs:documentation>Identifies a track.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trackId">
				<xs:annotation>
					<xs:documentation>Bettingsystem id</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShoeInfo">
		<xs:annotation>
			<xs:documentation>Shoeinformation for the horse in the race.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="hindshoes" nillable="true" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the horse wore hindshoes in the race, (back).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="foreshoes" nillable="true" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the horse wore foreshoes in the race, (front).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseOwner">
		<xs:annotation>
			<xs:documentation>Contains information about a LicenseOwner</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:int">
				<xs:annotation>
					<xs:documentation>Id of the driver</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Forename</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surname" type="xs:string">
				<xs:annotation>
					<xs:documentation>Surname</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shortname" type="xs:string">
				<xs:annotation>
					<xs:documentation>Short version of the name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="initials" type="xs:string">
				<xs:annotation>
					<xs:documentation>Driver initials</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amateur" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Is the driver amateur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swedish" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Is driver swedish</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sport" type="xs:string">
				<xs:annotation>
					<xs:documentation>Trotting or galopp</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrackCondition">
		<xs:annotation>
			<xs:documentation>State of the track. For gallop events there will be a surface linked with the state.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="condition" type="CodeText">
				<xs:annotation>
					<xs:documentation>State of the track
Possible values Galop(code/text/english text):
nt/Något tung/                         
sn/Snabb/                              
st/Standard/                           
tg/Tung/
Possible values Trot(code/text/english text):
L/Lätt bana/                          
N/Något tung bana/                    
S/Struket lopp som ej omköres/        
T/Tung bana/                          
V/Vinterbana/</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="surface" type="CodeText">
				<xs:annotation>
					<xs:documentation>Track surface linked with the state. Valid only for gallop events.
                            </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
