atg/ais/docs/ais_8.1/ATGInformationServiceDO/Event.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Henrik Persson (AB Trav och Galopp) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="http:\\www.atg.common"
	xmlns:rdc="http:\\www.atg.calendar" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:import namespace="http:\\www.atg.common" schemaLocation="Common.xsd"/>
	<xs:import namespace="http:\\www.atg.calendar" schemaLocation="RaceDayCalendar.xsd"/>
	<xs:complexType name="Event" abstract="true">
		<xs:annotation>
			<xs:documentation>
Base class for all events.
            </xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="GallopRaceJockeyChanged">
		<xs:annotation>
			<xs:documentation>Notifies the replacement of a jockey.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="StartEvent">
				<xs:sequence>
					<xs:element name="newDriver" type="com:LicenseOwner"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GallopRaceResult">
		<xs:annotation>
			<xs:documentation>Notifies that the full result, (not tote), is official.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GallopRacingCard">
		<xs:annotation>
			<xs:documentation>Notifies that a racing card is official. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrotRaceDriverChanged">
		<xs:annotation>
			<xs:documentation>Notifies the replacement of a driver.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="StartEvent">
				<xs:sequence>
					<xs:element name="newDriver" type="com:LicenseOwner"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrotRaceResult">
		<xs:annotation>
			<xs:documentation>Notifies that the full result, (not tote), is official.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrotRacingCard">
		<xs:annotation>
			<xs:documentation>Notifies that a racing card is official.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DefaultRaceEvent">
		<xs:annotation>
			<xs:documentation>
Notifies which race number is next to run and when the race is about to start.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Event">
				<xs:sequence>
					<xs:element name="raceDaydate" type="com:AtgDate"/>
					<xs:element name="trackKey" type="com:TrackKey">
						<xs:annotation>
							<xs:documentation>Identifies a track.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="raceNumber" type="xs:int">
						<xs:annotation>
							<xs:documentation>
Race number in the raceday that is default for betting. ie which race number that is next to run. 1-15.
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timeToStart" type="com:AtgDateTime">
						<xs:annotation>
							<xs:documentation>
When the race is about to start, local time.
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="currentTime" type="com:AtgDateTime">
						<xs:annotation>
							<xs:documentation>Current server time, local, to calculate minutes left to start.
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timeToStartUTC" type="com:AtgDateTime">
						<xs:annotation>
							<xs:documentation>
When the race is about to start (UTC).
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="currentTimeUTC" type="com:AtgDateTime">
						<xs:annotation>
							<xs:documentation>Current server time in UTC, to calculate minutes left to start.
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrackConditionEvent">
		<xs:annotation>
			<xs:documentation>Notifies that the track condition for a track at a specific date has changed.
            </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Event">
				<xs:sequence>
					<xs:element name="raceDaydate" type="com:AtgDate"/>
					<xs:element name="trackKey" type="com:TrackKey">
						<xs:annotation>
							<xs:documentation>Identifies a track.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="trackCondition" type="com:TrackCondition"
						maxOccurs="unbounded" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Last known track condition for the track.
Possible values Galop(code/text/english text):
nt/Något tung/                         
sn/Snabb/                              
st/Standard/                           
tg/Tung/
Possible values Trot(code/text/english text):
L/Lätt bana/                          
N/Något tung bana/                    
S/Struket lopp som ej omköres/        
T/Tung bana/                          
V/Vinterbana/</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timestamp" type="com:AtgDateTime">
						<xs:annotation>
							<xs:documentation>Time when the information was generated.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarkingBetPoolEvent" abstract="true">
		<xs:annotation>
			<xs:documentation>Base class.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Event">
				<xs:sequence>
					<xs:element name="date" type="com:AtgDate">
						<xs:annotation>
							<xs:documentation>
The date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="track" type="com:TrackKey">
						<xs:annotation>
							<xs:documentation>
The name of the track.
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="betType" type="xs:string">
						<xs:annotation>
							<xs:documentation>The Vxy bettype code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timestamp" type="com:AtgDateTime">
						<xs:annotation>
							<xs:documentation>The timestamp with both date and time.            </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarkingBetPoolInfoUpd">
		<xs:annotation>
			<xs:documentation>Notifies that a Vxy pool is updated with new information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MarkingBetPoolEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DoublePoolInfoUpd">
		<xs:annotation>
			<xs:documentation>Notifies that a LD or DD pool is updated with new in-formation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MarkingBetPoolInfoUpd"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DoublePoolDefClosed">
		<xs:annotation>
			<xs:documentation>Notifies that a LD or DD pool is closed for betting.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MarkingBetPoolEvent">
				<xs:sequence>
					<xs:element name="isClosed" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DoublePoolResult">
		<xs:annotation>
			<xs:documentation>Notifies that a LD or DD pool has an official pool re-sult.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MarkingBetPoolEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarkingBetPoolDefClosed">
		<xs:annotation>
			<xs:documentation>Notifies that a Vxy pool is closed for betting.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MarkingBetPoolEvent">
				<xs:sequence>
					<xs:element name="isClosed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the pool is closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarkingBetPoolResult">
		<xs:annotation>
			<xs:documentation>Notifies that a Vxy pool has an official pool result.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MarkingBetPoolEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RaceEvent" abstract="true">
		<xs:annotation>
			<xs:documentation>Base class.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Event">
				<xs:sequence>
					<xs:element name="date" type="com:AtgDate">
						<xs:annotation>
							<xs:documentation>
The race day date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="track" type="com:TrackKey">
						<xs:annotation>
							<xs:documentation>The track.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="raceNr" type="xs:int">
						<xs:annotation>
							<xs:documentation>The race number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timestamp" type="com:AtgDateTime">
						<xs:annotation>
							<xs:documentation>The timestamp with both date and time.
                            </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RacePoolInfoUpdEvent" abstract="true">
		<xs:annotation>
			<xs:documentation>Base class for all simple pools.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VPPoolInfoUpd">
		<xs:annotation>
			<xs:documentation>Notifies that a VP pool is updated with new infor-mation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RacePoolInfoUpdEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TvillingPoolInfoUpd">
		<xs:annotation>
			<xs:documentation>Notifies that a Tvilling pool is updated with new infor-mation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RacePoolInfoUpdEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrioPoolInfoUpd">
		<xs:annotation>
			<xs:documentation>Notifies that a Trio pool is updated with new information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RacePoolInfoUpdEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KombPoolInfoUpd">
		<xs:annotation>
			<xs:documentation>Notifies that a Komb pool is updated with new infor-mation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RacePoolInfoUpdEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VPPoolResult">
		<xs:annotation>
			<xs:documentation>Notifies that a VP pool has an official pool result.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VPPoolDefClosed">
		<xs:annotation>
			<xs:documentation>Notifies that a VP pool is closed for betting.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent">
				<xs:sequence>
					<xs:element name="isClosed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the pool is closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TvillingPoolResult">
		<xs:annotation>
			<xs:documentation>Notifies that a Tvilling pool has an official pool result.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TvillingPoolDefClosed">
		<xs:annotation>
			<xs:documentation>Notifies that a Tvilling pool is closed for betting.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent">
				<xs:sequence>
					<xs:element name="isClosed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the pool is closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrioPoolResult">
		<xs:annotation>
			<xs:documentation>Notifies that a Trio pool has an official pool result.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrioPoolDefClosed">
		<xs:annotation>
			<xs:documentation>Notifies that a Trio pool is closed for betting.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent">
				<xs:sequence>
					<xs:element name="isClosed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the pool is closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KombPoolResult">
		<xs:annotation>
			<xs:documentation>Notifies that a Komb pool has an official pool result.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KombPoolDefClosed">
		<xs:annotation>
			<xs:documentation>Notifies that a Komb pool is closed for betting.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent">
				<xs:sequence>
					<xs:element name="isClosed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the pool is closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Scratching">
		<xs:annotation>
			<xs:documentation>Notifies that a horse has been scratched.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="StartEvent"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType abstract="true" name="StartEvent">
		<xs:complexContent>
			<xs:extension base="RaceEvent">
				<xs:sequence>
					<xs:element name="startNr" type="xs:int">
						<xs:annotation>
							<xs:documentation>The start number.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DoublePoolSaleOpen">
		<xs:annotation>
			<xs:documentation>Notifies if a LD or DD pool is open for betting or not.
Holds a flag indicating if the pool is open for betting.
The flag is true until the first leg starts when it becomes false. If however the race needs to be restarted due to some error in the starting procedure the flag will be set to true again.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MarkingBetPoolEvent">
				<xs:sequence>
					<xs:element name="isOpen" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarkingBetPoolSaleOpen">
		<xs:annotation>
			<xs:documentation>Notifies if a Vxy pool is open for betting or not.
Holds a flag indicating if the pool is open for betting.
The flag is true until the first leg starts when it becomes false. If however the race needs to be restarted due to some error in the starting procedure the flag will be set to true again.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MarkingBetPoolEvent">
				<xs:sequence>
					<xs:element name="isOpen" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the pool is closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VPPoolSaleOpen">
		<xs:annotation>
			<xs:documentation>Notifies if a VP pool is open for betting or not.
Holds a flag indicating if the pool is open for betting.
The flag is true until the race starts when it becomes false. If however the race needs to be restarted due to some error in the starting procedure the flag will be set to true again.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent">
				<xs:sequence>
					<xs:element name="isClosed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the pool is closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TvillingPoolSaleOpen">
		<xs:annotation>
			<xs:documentation>Notifies if a Tvilling pool is open for betting or not.
Holds a flag indicating if the pool is open for betting.
The flag is true until the race starts when it becomes false. If however the race needs to be restarted due to some error in the starting procedure the flag will be set to true again.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent">
				<xs:sequence>
					<xs:element name="isClosed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the pool is closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrioPoolSaleOpen">
		<xs:annotation>
			<xs:documentation>Notifies if a Trio pool is open for betting or not.
Holds a flag indicating if the pool is open for betting.
The flag is true until the race starts when it becomes false. If however the race needs to be restarted due to some error in the starting procedure the flag will be set to true again.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent">
				<xs:sequence>
					<xs:element name="isClosed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the pool is closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="KombPoolSaleOpen">
		<xs:annotation>
			<xs:documentation>Notifies if a Komb pool is open for betting or not.
Holds a flag indicating if the pool is open for betting.
The flag is true until the race starts when it becomes false. If however the race needs to be restarted due to some error in the starting procedure the flag will be set to true again.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent">
				<xs:sequence>
					<xs:element name="isClosed" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if the pool is closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShoeInfoChanged">
		<xs:annotation>
			<xs:documentation>Holds shoe information for all horses in the race where there has been a change for at least one horse. Includes both the current and previous start if information is available.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceEvent">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="ShoeInfoStart" type="com:ShoeInfoStart"
					/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GallopWeightChanged">
		<xs:annotation>
			<xs:documentation>Notifies that the horse has got a new program weight to carry in the race.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="StartEvent">
				<xs:sequence>
					<xs:element name="newWeight" type="xs:float">
						<xs:annotation>
							<xs:documentation>The new weigth that the horse will be carrying in the race.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="oldWeight" type="xs:float">
						<xs:annotation>
							<xs:documentation>The old weigth that the horse was ment to be carrying in the race.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
