atg/ais/docs/ais_8/api/ATGInformationServiceDO/RacingCard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Henrik Persson (AB Trav och Galopp) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="http:\\www.atg.common"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	targetNamespace="http:\\www.atg.racingcard" xmlns="http:\\www.atg.racingcard">
	<xs:import namespace="http:\\www.atg.common" schemaLocation="Common.xsd"/>
	<xs:complexType name="Conditions">
		<xs:annotation>
			<xs:documentation>Information about the race  that determines which horses that are allowed to participate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="raceName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="textShort" type="xs:string">
				<xs:annotation>
					<xs:documentation>Short information text.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="textLong" type="xs:string">
				<xs:annotation>
					<xs:documentation>Long information text.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrotRaceInfo">
		<xs:annotation>
			<xs:documentation>Specific race information for harness races.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startMethod" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>Starting method.
Possible values (code/text/english text):
A/Auto
L/Linjestart
P/Parentestid
Q/ParentestidAuto
V/Volt
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="monte" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if this race is monte race.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GallopRaceInfo">
		<xs:annotation>
			<xs:documentation>Specific race information for thoroughbred races.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trackSurface" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>The track surface. Type of material.
Possible values (code/text/english text):
aw/Allweatherbana
dt/Dirt-track
fl/Flis
gr/Gräs
hl/Halm
hä/Häckbana
is/Is(endastStMoritz,Schweiz)
po/Polymer
sa/Sand
st/Steeplechase</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HorseKey">
		<xs:annotation>
			<xs:documentation>Identification info for the horse</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:int">
				<xs:annotation>
					<xs:documentation>Identification number. Zero if unknown in the swedish system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="seRegNr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Swedish registration number. Empty if unknown in the swedish system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="uelnNr" type="xs:string">
				<xs:annotation>
					<xs:documentation>UELN number. Empty if unknown in the swedish system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Horse">
		<xs:annotation>
			<xs:documentation>Horse information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="key" type="HorseKey">
				<xs:annotation>
					<xs:documentation>Information that identifies the horse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="age" type="xs:int">
				<xs:annotation>
					<xs:documentation>Age.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sex" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>Sex.
Possible values Galop (code/swedish text/english text):
H/Hingst/Colt
S/Sto/Filly
V/Valack/Gelding
ZZ/okänd/unknown

Possible values Trot (code/swedish text/english text):
H/hingst/horse
S/sto/mare
V/valack/gelding
ZZ/okäntkön/unknown</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nationalityBorn" type="xs:string">
				<xs:annotation>
					<xs:documentation>Country in which the horse was born.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nationalityRaised" type="xs:string">
				<xs:annotation>
					<xs:documentation>Country in which the horse was raised.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nationalityOwner" type="xs:string">
				<xs:annotation>
					<xs:documentation>Country from where the owner is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="thoroughbred" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the horse competes in thoroughbred racing, (gallop).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swedenReg" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the horse is registered in Sweden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="horseNameAndNationality" type="xs:string"/>
			<xs:element name="dam" type="HorseKey">
				<xs:annotation>
					<xs:documentation>Mother.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sire" type="HorseKey">
				<xs:annotation>
					<xs:documentation>Father.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="damSire" type="HorseKey">
				<xs:annotation>
					<xs:documentation>The mothers father of the starting horse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="colour" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>The colour of the horse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="breeder" type="xs:string">
				<xs:annotation>
					<xs:documentation>The breeder of the horse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="owner" type="xs:string">
				<xs:annotation>
					<xs:documentation>The owner of the horse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="breed" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>The breed of the horse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ownerId" type="xs:int">
				<xs:annotation>
					<xs:documentation>Identification number of the owner in the swedish system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HorseStat">
		<xs:annotation>
			<xs:documentation>Holds statistic information regarding the horse.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pastPerformances" type="ResultRow" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Horses past performances, (normally the last five).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="total" type="YearStat">
				<xs:annotation>
					<xs:documentation>Life achievements, (wins, places, earnings).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="YearStat">
				<xs:annotation>
					<xs:documentation>Current year achievements, , (wins, places, earnings).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="previous" type="YearStat">
				<xs:annotation>
					<xs:documentation>Last year achievements, (wins, places, earnings)..</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LicenseOwner">
		<xs:annotation>
			<xs:documentation>Contains information about a LicenseOwner</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:int">
				<xs:annotation>
					<xs:documentation>Id of the driver</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Forename</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surname" type="xs:string">
				<xs:annotation>
					<xs:documentation>Surname</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shortname" type="xs:string">
				<xs:annotation>
					<xs:documentation>Short version of the name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="initials" type="xs:string">
				<xs:annotation>
					<xs:documentation>Driver initials</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amateur" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Is the driver amateur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swedish" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Is driver swedish</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sport" type="xs:string">
				<xs:annotation>
					<xs:documentation>Trotting or galopp</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlaceInfo">
		<xs:annotation>
			<xs:documentation>Information regarding the place in the race result.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="place" type="xs:int">
				<xs:annotation>
					<xs:documentation>Place in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scratchedReason" type="xs:string">
				<xs:annotation>
					<xs:documentation>If the horse was scratched, the reason why.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="disqualified" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the horse was disqualified.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reported" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the horse was reported, (poor trotting).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scratched" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the horse was scratched.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Start">
		<xs:annotation>
			<xs:documentation>Start holds, in addition to start base information, horse statistics.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="StartBase">
				<xs:sequence>
					<xs:element name="horseStat" type="HorseStat">
						<xs:annotation>
							<xs:documentation>Statistics regarding the horse.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StartBase">
		<xs:annotation>
			<xs:documentation>StartBase holds information about both the horse and the driver/jockey starting in a race at a specific track/date.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startNr" type="xs:int">
				<xs:annotation>
					<xs:documentation>Starting number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="driver" type="LicenseOwner">
				<xs:annotation>
					<xs:documentation>Driver information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trainer" type="LicenseOwner">
				<xs:annotation>
					<xs:documentation>Trainer information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="horse" type="Horse">
				<xs:annotation>
					<xs:documentation>Horse information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startPoint" type="xs:int">
				<xs:annotation>
					<xs:documentation>Points earned during the last starts. Is given by the Swedish Trotting Association. Is used to rank horses.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="driverChanged" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the original driver has been changed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trotStartInfo" type="TrotStartInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information available if the race is trot/harness racing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gallopStartInfo" type="GallopStartInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information available if the race is gallop/thoroughbred racing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outsideTote" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Is this horse possible to bet on int the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="driverColour" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A text string in swedish describing the colour that the driver uses in the race. Could be either the the drivers own colours or the owners colours. For non swedish races this info could be missing.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RacingCard">
		<xs:annotation>
			<xs:documentation>RacingCard holds information about all races and starting horses regarding a specific race day, (date and trackid identifies a race day).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="timestamp" type="com:AtgDateTime">
				<xs:annotation>
					<xs:documentation>Date and time when the RacingCard object was assembled.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="com:AtgDate">
				<xs:annotation>
					<xs:documentation>The race day date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="track" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>The race day track.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="betType" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>The bet type which these races participates in, (default V / Win).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="races" type="Race" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>All races regarding a specific raceday and/or bet type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Race">
		<xs:annotation>
			<xs:documentation>Race holds information about a race.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="RaceBase">
				<xs:sequence>
					<xs:element name="starts" type="Start" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>All horses registered for the race, (non-starters included).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RaceBase">
		<xs:annotation>
			<xs:documentation>RaceBase holds basic information about a race which is of  interest both for a racing card and a full race result.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="raceNr" type="xs:int">
				<xs:annotation>
					<xs:documentation>Race number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="distance" type="xs:string">
				<xs:annotation>
					<xs:documentation>Race distance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="raceType" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>Type of race, (for example V = Vanligt lopp/Regular race).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conditions" type="Conditions">
				<xs:annotation>
					<xs:documentation>Information about the race  that determines which horses that are allowed to participate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trackState" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>State of the track when the race was run. (To get track state for an upcoming race use the TrackBetInfo object).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entryDate" type="com:AtgDateTime">
				<xs:annotation>
					<xs:documentation>Date when the participating horses were determined.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reservorder" type="xs:string">
				<xs:annotation>
					<xs:documentation>Only valid for races in a markingbet bet type. Determines the order in which the horses replaces a scratched horse on a clients coupon</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="entriesReleased" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the participating horses has been determined. (To get this information for an upcoming race use the RaceDayCalendar object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cancelled" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the race was cancelled.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="swedish" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the race is swedish.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resultReleased" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the result of the race is released. (To get this information for an upcoming race use the RaceDayCalendar object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gallopRaceInfo" type="GallopRaceInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specific race information for thoroughbred races.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trotRaceInfo" type="TrotRaceInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specific race information for harness races.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postTime" type="com:AtgTime">
				<xs:annotation>
					<xs:documentation>The local time when the race is set out to start. This is a pre scheduled time which normally does not change.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postTimeUTC" type="com:AtgTime">
				<xs:annotation>
					<xs:documentation>The UTC time when the race is set out to start. This is a pre scheduled time which normally does not change.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coupledHorses" type="com:Stable" nillable="true" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Array of stables with race positions that are coupled</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isCoupledHorsesInPool" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>True if there are coupled Horses in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RaceKey">
		<xs:annotation>
			<xs:documentation>Key information about a race.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="track" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>Track.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trackKey">
				<xs:annotation>
					<xs:documentation>Identifies a track.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="com:AtgDate">
				<xs:annotation>
					<xs:documentation>Date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="raceNr" type="xs:int">
				<xs:annotation>
					<xs:documentation>Race number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resultExists" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the race has a result.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Record">
		<xs:annotation>
			<xs:documentation>The fastest time the horse has run on a sepcific distance and starting method.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="track" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>The track where the record was set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="distance" type="xs:int">
				<xs:annotation>
					<xs:documentation>The records distance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="raceNr" type="xs:int">
				<xs:annotation>
					<xs:documentation>Race number for the race in which the record was set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="place" type="xs:int">
				<xs:annotation>
					<xs:documentation>Place for the the horse in the record race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" type="com:AtgDate">
				<xs:annotation>
					<xs:documentation>Record date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" type="com:AtgTime">
				<xs:annotation>
					<xs:documentation>Record time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recType" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>Type of record.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="winner" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the horse won when setting the record.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultRow">
		<xs:annotation>
			<xs:documentation>ResultRow holds information about a horse performance in a race.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="odds" type="xs:string">
				<xs:annotation>
					<xs:documentation>The odds that the the horse would have paid in case of a victory. This is presented as the odds multiplied by 10. Will contain 25 if the final odds would have been 2,5.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstPrize" type="com:Amount">
				<xs:annotation>
					<xs:documentation>First prize in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="driver" type="LicenseOwner">
				<xs:annotation>
					<xs:documentation>Driver information, (jockey included).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="raceType" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>Type of race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="raceKey" type="RaceKey">
				<xs:annotation>
					<xs:documentation>Key information about a race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="placeInfo" type="PlaceInfo">
				<xs:annotation>
					<xs:documentation>Information regarding the place in the race result.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="circumstances" type="StartCircumstances">
				<xs:annotation>
					<xs:documentation>Information about circumstances regarding the horse and the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startNr" type="xs:int">
				<xs:annotation>
					<xs:documentation>Starting number for the horse in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nationalRace" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the race was a special national race, (higher prize money, better horses). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="earning" type="com:Amount">
				<xs:annotation>
					<xs:documentation>Amount that the horse won in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="kmTime" type="ResultRowTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Finishing average kilometer time for the horse in the race, (also a gallopflag and startmethodinfo).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="totalTime" type="ResultRowTime">
				<xs:annotation>
					<xs:documentation>Finishing total time for the horse in the race, (also a gallopflag and startmethodinfo).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gallopInfo" type="ResultRowGallopInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information available if the race was a thouroughbred race.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultRowGallopInfo">
		<xs:annotation>
			<xs:documentation>Information available if the race was a thouroughbred race.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rating" type="xs:int">
				<xs:annotation>
					<xs:documentation>Rating number describing the horses form, the higher the better.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weight" type="xs:double">
				<xs:annotation>
					<xs:documentation>Weight carried by the horse in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="blinkers" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the horse used blinkers in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="trackSurface" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>The type of surface of the track, (ex dirt, grass).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="blinkersType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shows the type of blinkers the horse is going to use in the race. Possible values are: B = Blinkers, F = Flexible bridle, S = Soft bridle, N = Nothing. Can be null.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultRowTime">
		<xs:annotation>
			<xs:documentation>Finishing time for the horse in the race, (also a gallopflag and startmethodinfo).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="time" type="com:AtgTime">
				<xs:annotation>
					<xs:documentation>Finishing time for the horse in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gallop" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the galloped in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startMethod" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>Starting method in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="noTimeCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>If no time available, a code will be available, (used in swedish programs). </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StartCircumstances">
		<xs:annotation>
			<xs:documentation>information about circumstances regarding the horse and the race.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trackState" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>The state of the track during the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="distance" type="xs:int">
				<xs:annotation>
					<xs:documentation>Race distance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postPosition" type="xs:int">
				<xs:annotation>
					<xs:documentation>Postposition, (does not have to be the same as starting number).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="monte" type="xs:string">
				<xs:annotation>
					<xs:documentation>Shows if the race was a monte race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shoeInfo" type="com:ShoeInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shoeinformation for the horse in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GallopStartInfo">
		<xs:annotation>
			<xs:documentation>Information available if the race is gallop/thoroughbred racing.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ratings" type="xs:integer">
				<xs:annotation>
					<xs:documentation>A rating number based on the last starts the horse has made.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="blinkers" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Shows if the horse are going to use blinkers in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weight" type="Weight">
				<xs:annotation>
					<xs:documentation>The weigth that the horse will be carrying in the race.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="blinkersType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Shows the type of blinkers the horse is going to use in the race. Possible values are: B = Blinkers, F = Flexible bridle, S = Soft bridle, N = Nothing. Can be null.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrackKey">
		<xs:annotation>
			<xs:documentation>Identifies a track.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="trackId" type="xs:int">
				<xs:annotation>
					<xs:documentation>Bettingsystem id</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrotStartInfo">
		<xs:annotation>
			<xs:documentation>Information available if the race is trot/harness racing.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="distance" type="xs:string">
				<xs:annotation>
					<xs:documentation>Distance for the horse in the race, can differ from race distance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="homeTrack" type="com:CodeText">
				<xs:annotation>
					<xs:documentation>Home track of the trainer of the horse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postPosition" type="xs:int">
				<xs:annotation>
					<xs:documentation>Post position in the race, can differ from starting number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="records" type="Record" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The fastest time the horse has run on each distance and starting method.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shoeInfo" type="com:ShoeInfo">
				<xs:annotation>
					<xs:documentation>Holds information whether or not the horse wore shoes in the race. The information is missing if not known.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Weight">
		<xs:annotation>
			<xs:documentation>The weigth a horse will be carrying in a thoroughbred race.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cardWeight" type="xs:float">
				<xs:annotation>
					<xs:documentation>Swedish programvikt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conditionWeight" type="xs:float">
				<xs:annotation>
					<xs:documentation>Swedish propositionsvikt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parVikt1" type="xs:float">
				<xs:annotation>
					<xs:documentation>Swedish term.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parVikt2" type="xs:float">
				<xs:annotation>
					<xs:documentation>Swedish term.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="plustalsVikt" type="xs:float">
				<xs:annotation>
					<xs:documentation>Swedish term.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="YearStat">
		<xs:annotation>
			<xs:documentation>YearStat holds a specific year or life total achievements, (wins, places, earnings).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="year" type="com:AtgDate">
				<xs:annotation>
					<xs:documentation>The year for the statistics, null if life total statistics.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nrOfStarts" type="xs:int">
				<xs:annotation>
					<xs:documentation>Number of starts this year.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="first" type="xs:int">
				<xs:annotation>
					<xs:documentation>Nr of times the horse came in first place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="second" type="xs:int">
				<xs:annotation>
					<xs:documentation>Nr of times the horse came in second place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="third" type="xs:int">
				<xs:annotation>
					<xs:documentation>Nr of times the horse came in third place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="earning" type="com:Amount">
				<xs:annotation>
					<xs:documentation>Earned money this year.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="percentWin" type="xs:float">
				<xs:annotation>
					<xs:documentation>Percent of won races.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="percent123" type="xs:float">
				<xs:annotation>
					<xs:documentation>Percent of races finishing first, second or third.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="bonusEarning" type="com:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bonus amount added to earning. Only gallop/thoroughbread.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="forcedEarning" type="com:Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Forced amount added to earning. Only trav/harness racing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="voltRecord" nillable="true" type="Record">
				<xs:annotation>
					<xs:documentation>Record for the year with the starting method Volt regardless distance, (circular starting method without car). Note that the information about track is missing. Only trav/harness racing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="autoRecord" nillable="true" type="Record">
				<xs:annotation>
					<xs:documentation>Record for the year with the starting method Auto regardless distance, (start behind the gate, 1000 m track length). Note that the information about track is missing. Only trav/harness racing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="amAutoRecord" nillable="true"
				type="Record">
				<xs:annotation>
					<xs:documentation>Record for the year with the starting method American Auto regardless distance, (start behind the gate, 1609 m track length).  Note that the information about track is missing. Only trav/harness racing.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
